.menu {
  $height: 2.6vw;
  $spacing: 0.2vw;
  $width: 13vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: $width;
  height: $height;
  border: ($spacing * 0.5) solid var(--textColor);
  box-shadow: inset 0 0 0 ($spacing * 0.5) var(--textColor);
  border-radius: ($height + ($spacing * 2)) * 0.5;
  overflow: hidden;

  & > * {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:not(:first-child) {
      box-shadow: inset 1px 0 0#0003;
    }

    svg {
      display: block;
      width: $height;
      height: $height;
      fill: var(--textColor);
      transform: scale(0.65);
    }
  }

  .active {
    background: var(--textColor);
    svg {
      fill: white;
    }
  }
}
