:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: coral;
}

#app {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  overflow: auto;
  scroll-padding-top: 2.5rem;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 55px;
  background: #4f2660;
  pointer-events: none;
  & > div {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3rem;
    img {
      display: block;
    }

    & > nav {
      flex: 0 0 auto;
      width: 15rem;
      ol {
        padding: 0;
        li {
          list-style: none;
          padding-top: 0.6rem;
          pointer-events: auto;
          a {
            color: rgba(255, 255, 255, 0.7);
            transition: 0.2s color;
            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }
}

main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem 3rem;

  display: flex;

  & > article {
    flex: 0 0 auto;
    width: calc(100% - 15rem);
    // padding-top: 4rem;
    padding-left: 15rem;
  }

  & > section > pre {
    overflow-x: auto;
  }

  & > section > table {
    margin: 2rem auto;
  }
}

/* ------ */

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  margin-top: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #333;
}

/* ------ */

p {
  code {
    font-size: 1rem;
    display: inline-block;
    padding: 0.1em 0.5em;
    background: rgb(47, 47, 47);
  }
}

/* ------ */

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 3px solid #333;
  color: rgba(255, 255, 255, 0.5);
}

ul li {
  text-align: left;
}

a {
  text-decoration: none;
}

pre {
  margin: 0;
}

code:not(.maths) {
  /* padding: 0.1em 0.5em; */
  /* background: rgba(255, 255, 255, 0.11); */
  border-radius: 0.3em;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  // font-size: 0.9em;

  &,
  th,
  td {
    border: 1px solid #333;
  }
  & {
    border-right-width: 0;
    border-bottom-width: 0;
  }
  th,
  td {
    padding: 0.5em;
    border-top-width: 0;
    border-left-width: 0;
  }
}
