:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.logo {
  height: 55px;
  background: #4f2660;
}

.logo img {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 184px;
}

main {
  width: 450px;
  margin: 0 auto;
  padding: 2rem;
}

/* ------ */

h2 {
  margin-top: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #333;
}

/* ------ */

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 3px solid #333;
  color: rgba(255, 255, 255, 0.5);
}

ul li {
  text-align: left;
}

a {
  text-decoration: none;
}

code {
  padding: 0.1em 0.5em;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 0.3em;
}

table,
table th,
table td {
  border: solid #333;
}

table {
  border-width: 1px 0 0 1px;
}

table th,
table td {
  border-width: 0 1px 1px 0;
  padding: 0.5em 1em 0.5em;
  text-align: left;
}
