code {
  vertical-align: baseline;
  padding: 0.1rem 0.3rem 0.2rem;
  font-family: monospace;
  background: var(--boxoutBg);
  border-radius: 0.2rem;

  position: relative;
  bottom: 0.05rem;
}

.code-wrapper, .terminal {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #444;
  color: #ccc;
  overflow: auto;

  & > h6.console-heading {
    margin: 0 0 0.5rem;
    color: $rose;
  }

  pre {
    font-family: monospace;
    white-space: pre-wrap;
  }

  code {
    display: block;
    padding: 0;
    margin: 0;
    background: transparent;
    position: static;
  }

  &[class$="error-output"] {
    background: var(--errorColor);
    color: white;
    & > h6.console-heading {
      color: white;
    }
  }
}

.terminal {
  position: relative;
  padding-left: 2.5rem;
  &::before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: bold;
    content: '>';
  }
  span {
    &.bold {
      font-weight: 600;
    }
    &.black {
      color: black;
    }
    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.yellow {
      color: yellow;
    }
    &.blue {
      color: blue;
    }
    &.purple {
      color: purple;
    }
    &.cyan {
      color: cyan;
    }
    &.white {
      color: white;
    }
  }
}

// ------------------------
// syntax -----------------
// ------------------------

// https://github.com/PrismJS/prism/blob/master/themes/prism-dark.css

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(30, 20%, 50%);
}

.token.punctuation {
  opacity: 0.7;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: hsl(350, 40%, 70%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsl(75, 70%, 60%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: hsl(40, 90%, 60%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: hsl(350, 40%, 70%);
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}
