html.program-command-line .program-switcher > .program:not([data-program="command-line"]),
html.program-github-desktop .program-switcher > .program:not([data-program="github-desktop"]),

html.language-r .language-switcher > .language:not([data-language="r"]),
html.language-python .language-switcher > .language:not([data-language="python"]),

html.plot-accessibility-visualisation .plot-accessibility-switcher > .plot-accessibility:not([data-plot-accessibility="visualisation"]),
html.plot-accessibility-purpose .plot-accessibility-switcher > .plot-accessibility:not([data-plot-accessibility="purpose"]),
html.plot-accessibility-description .plot-accessibility-switcher > .plot-accessibility:not([data-plot-accessibility="description"]) {
  display: none;
}

html.program-command-line .program-switcher > ul > li[data-program="command-line"],
html.program-github-desktop .program-switcher  > ul > li[data-program="github-desktop"],

html.language-r .language-switcher  > ul > li[data-language="r"],
html.language-python .language-switcher  > ul > li[data-language="python"],

html.plot-accessibility-visualisation .plot-accessibility-switcher  > ul > li[data-plot-accessibility="visualisation"],
html.plot-accessibility-purpose .plot-accessibility-switcher  > ul > li[data-plot-accessibility="purpose"],
html.plot-accessibility-description .plot-accessibility-switcher  > ul > li[data-plot-accessibility="description"] {
  color: var(--highlightColor);
  cursor: default;
  &:hover {
    color: var(--highlightColor);
  }
}

.program-switcher,
.language-switcher,
.plot-accessibility-switcher {
  position: relative;

  & > ul {
    position: absolute;
    top: -0.8rem;
    right: 2rem;
    padding: 0 0.2rem 0.1rem;
    background: var(--boxoutBg);
    border-radius: 0.6rem;

    li {
      display: inline-block;
      padding: 0 0.5rem;
      margin: 0;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 1;
      color: var(--fadedTextColor);
      transition: color 0.2s;
      cursor: pointer;
      &:not(:first-child) {
        border-left: 1px solid var(--fadedTextColor);
      }
      &:hover {
        color: var(--textColor);
      }
    }

  }

  & > .program,
  & > .language,
  & > .plot-accessibility {
    padding: 1.5rem 1rem;
    border: 3px solid var(--boxoutBg);
    border-radius: 0.6rem;
    margin: 1.5rem 0;
  }
}
