$scrollbarWidth: 15px;
$scrollbarPadding: 5px;

@mixin slim {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--textColor) var(--bg);

  &::-webkit-scrollbar {
    width: $scrollbarWidth;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $scrollbarWidth;
    border: $scrollbarPadding solid;
    background-color: var(--textColor);
    border-color: var(--bg);
  }
}

@mixin slim-discreet {
  @include slim;
  scrollbar-color: var(--boxoutBg) var(--boxoutBg);

  &::-webkit-scrollbar-track {
    background: var(--boxoutBg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--boxoutBg);
    border-color: var(--boxoutBg);
    transition: background-color 0.2s;
  }

  &:hover {
    scrollbar-color: var(--boxoutHighlightColor) var(--boxoutBg);

    &::-webkit-scrollbar-thumb {
      background-color: var(--boxoutHighlightColor);
    }
  }
}
