.hamburger {
  fill: black;
}

nav {
  li {
    font: normal 0.9rem/1.5 'ComputerModern';
  }

  & > ul > li {
    font: normal 0.9rem/1.5 'ComputerModernBold';
  }

  & > ul > li li a {
    color: $slate;
  }
}
