/* these styles override the runtime styles when viewed in the Tauri app */

html#editor {
  &,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }

  header,
  .error {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    line-height: 1.75;
  }

  header {
    height: 60px;

    button {
      border: 0;
      font-weight: 600;
    }
  }

  main {
    & > .hamburger {
      top: calc(1.5rem + 60px);
    }

    nav {
      top: 60px;
      height: calc(100% - 60px);
    }
  }
}
