/* these styles override the runtime styles when viewed in the Tauri app */

html#editor {
  &,
  body,
  #root {
    height: 100%;
    overflow: hidden;
    background: #222;
  }

  #root {
    // an absolute layout is used here to correct the behaviour
    // where clicking an anchor link at the top of an article
    // in tauri would scroll the header out of view with no
    // way to recover again besides reopening the app.

    $headerHeight: 60px;

    & > header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $headerHeight;
    }

    & > main {
      position: absolute;
      top: $headerHeight;
      left: 0;
      width: 100%;
      height: calc(100% - $headerHeight);
    }

    & > #warnings {
      position: absolute;
      top: $headerHeight;
      right: 15px;
      width: 20px;
      height: calc(100% - $headerHeight);
      // background: white;

      & > .warning {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgb(205, 106, 0);
        .dark-mode & {
          background: orange;
        }
      }
    }

    .log {
      position: fixed;
      top: $headerHeight;
      right: 0;
      bottom: 0;
      width: 600px;
      margin-right: -600px;
      transition: margin-right 0.2s ease-out;
      z-index: 1;
    }

    &.log-show {
      .log {
        margin-right: 0;
      }
      .log-toggle svg {
        fill: orange;
      }
    }
  }

  #root > header,
  #root > .error {
    font-family: system-ui, sans-serif;
    font-weight: 400;
    line-height: 1.75;
  }

  #root > header {
    display: flex;
    // flex: 0 0 auto;
    align-items: center;

    padding: 0.6rem;
    box-sizing: border-box;

    color: #fff;
    background: #000;
    font-size: 13px;

    .file-path {
      flex: 1;
      padding: 0 1rem 0.1rem;
    }

    .file-status {
      display: block;
      color: #29e808;
      line-height: 1;

      &.loading {
        color: #e88308;
      }
    }

    .log-toggle {
      display: block;
      line-height: 1;
      cursor: pointer;

      svg {
        display: inline-block;
        width: 1.2rem;
        margin-right: 0.8rem;
        fill: #fff5;
      }
      // display: block;
      // color: #29e808;
      // line-height: 1;

      // &.watching {
      //   color: #29e808;
      // }

      // &.loading {
      //   color: #e88308;
      // }
    }

    #warning-count {
      display: flex;
      align-items: center;
      margin-right: 1.2rem;
      color: orange;
      font-weight: bold;
      opacity: 0.9;
      svg {
        display: inline-block;
        width: 1.2rem;
        margin-right: 0.5rem;
        fill: orange;
      }
    }

    button {
      border: 0;
      font-weight: 600;
      padding: 1.2em 2.4em;
      border-radius: 0.4em;
      background: #fff2;
      color: #fff;
      cursor: pointer;
      transition: 0.2s background;

      &:hover {
        box-shadow: inset 0 0 0 2px #fff3;
      }
    }
  }

  main {
    & > .actions-top-left,
    & > .actions-top-right {
      top: calc(1.2rem + 60px);
    }

    // nav {
    //   top: 60px;
    //   height: calc(100% - 60px);
    // }

    #article-wrapper,
    #print-view {
      overflow: auto;
    }
  }

  .log {
    display:flex;
    flex-direction: column;
    background: black;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    word-break: break-word;

    h3 {
      margin: 0 0 0.8em 0;
    }

    .scroll {
      overflow: scroll;
      display:flex;
      flex: 1;
      flex-direction:column-reverse;
    }

    ul {
      padding: 0;
      margin: 0;
      font: normal 0.7rem/1.4 monospace;
    }

    li {
      list-style: none;
      padding: 0;
    }

    /* https://rootloops.sh?sugar=7&colors=6&sogginess=4&flavor=1&fruit=10&milk=0 */
    /*
    "black": "#261d35",
    "red": "#d97780",
    "green": "#7aa860",
    "yellow": "#bc904f",
    "blue": "#6b9bd9",
    "magenta": "#b77ed1",
    "cyan": "#52a9a9",
    "white": "#b2a2d1",
    "brightBlack": "#584875",
    "brightRed": "#e6949a",
    "brightGreen": "#8ebf73",
    "brightYellow": "#d3a563",
    "brightBlue": "#88b1e5",
    "brightMagenta": "#c899de",
    "brightCyan": "#63c0bf",
    "brightWhite": "#e5dff1"
    */

    .col-black {
      color: #261d35;
    }

    .col-blue {
      color: #6b9bd9;
    }

    .col-cyan {
      color: #52a9a9;
    }

    .col-green {
      color: #7aa860;
    }

    .col-magenta {
      color: #b77ed1;
    }

    .col-red {
      color: #d97780;
    }

    .col-white {
      color: #b2a2d1;
    }

    .col-yellow {
      color: #bc904f;
    }

    .col-blackBright {
      color: #584875;
    }

    .col-blueBright {
      color: #88b1e5;
    }

    .col-cyanBright {
      color: #63c0bf;
    }

    .col-greenBright {
      color: #8ebf73;
    }

    .col-magentaBright {
      color: #c899de;
    }

    .col-redBright {
      color: #e6949a;
    }

    .col-whiteBright {
      color: #e5dff1;
    }

    .col-yellowBright {
      color: #d3a563;
    }

  }

}
