.columns {
  display: flex;

  .column {
    flex: 1;

    &:nth-child(2n+1) {
      padding-right: 0.5rem;
    }
    &:nth-child(2n) {
      padding-left: 0.5rem;
    }
  }
}

@media (max-width: 800px) {
  .columns {
    flex-direction: column;
  }
}
