// @font-face {
//   font-family: 'Martel';
//   src: url('../fonts/Martel-Black.ttf') format('truetype');
//   // font-weight: 700;
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Newsreader';
//   src: url('../fonts/Newsreader-Regular.ttf') format('truetype');
//   // // font-weight: 400;
//   // font-weight: normal;
//   font-style: normal;
// }

* {
  margin: 0;
  border: 0;
  padding: 0;
}

// @import '~sanitize.css';

@import './variables.scss';

@import './loading.scss';
@import './scrollbars.scss';
@import './structure.scss';
@import './typography.scss';
@import './cover.scss';
// @import './logo.scss';
@import './nav.scss';
@import './tables.scss';
@import './images.scss';
@import './tex.scss';
@import './code.scss';
@import './boxouts.scss';
@import './columns.scss';
@import './view-options.scss';
@import './pdf.scss';
@import './switcher.scss';
@import './gitgraph.scss';
@import './text-file.scss';
@import './browser-window.scss';
@import './sidenotes.scss';
