:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.75;

  color: #222;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}

@import './variables.scss';
@import './structure.scss';
@import './article.scss';
@import './sidebar.scss';
@import './sidenote.scss';
@import './scrollbars.scss';

// @import './odl/index.scss';
// @import './latex/index.scss';
@import './uofg-lecture/index.scss';
