:root,
.sidenote {
  // https://modernfontstacks.com: Geometric Humanist
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
  font-size: clamp(1.5vw, 18px, 26px);
}

body {
  margin: 0;
  color: var(--textColor);
  background: var(--bg);
}

main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@import './variables.scss';
@import './structure.scss';
@import './article.scss';
@import './sidebar.scss';
@import './sidenote.scss';
@import './scrollbars.scss';
@import './range-input.scss';
@import './syntax-highlight.scss';

// @import './odl/index.scss';
// @import './latex/index.scss';
// @import './uofg-lecture/index.scss';
@import './nouveaux/index.scss';
