#print-view {
  .pagedjs_pages {
    transform: scale(var(--pages-scale, 1)) translateZ(0);
    will-change: transform;

    // https://stackoverflow.com/questions/14677490#16878602
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
