@use './fonts.scss' as fonts;
@use './elements/scroll-bars.scss' as scroll-bars;

:root {
  @include fonts.geometric-humanist;
  @include fonts.global-size;
}

body {
  color: var(--textColor);
  background: var(--bg);
}

#root {
  overflow: hidden;
}

main {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  shape-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  & > .error {
    font-size: 0.6rem;
    color: white;
    background: #b41b1b;
    padding: 0 0.6rem;
    box-sizing: border-box;
  }

  #article-wrapper,
  #print-view {
    height: 100vh;
    overflow: auto;
    @include scroll-bars.slim(var(--textColor), var(--bg));
  }
}

nav {
  @include scroll-bars.slim-on-hover(
    var(--boxoutHighlightColor),
    var(--boxoutBg)
  );
  background: var(--boxoutBg);
  transition: margin-left 0.2s;
  will-change: margin-left;
}

// print ------

#print-view {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
  font-size: 12pt;
  line-height: 1.4;

  .pagedjs_page {
    &:first-child {
      .pagedjs_page_content > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
          font-size: 1.8em;
          text-align: center;
        }

        p {
          padding-left: 2em;
          padding-right: 2em;
        }
      }
    }
  }

  .pagedjs_page_content > div > *:first-child,
  .pagedjs_page_content > div > .boxout:first-child > *:first-child,
  .pagedjs_page_content > div > .boxout:first-child > .type,
  .pagedjs_page_content > div > section:first-child > *:first-child,
  .pagedjs_page_content
    > div
    > section:first-child
    > .boxout:first-child
    > *:first-child,
  .pagedjs_page_content
    > div
    > section:first-child
    > .boxout:first-child
    > .type {
    margin-top: 0;
  }
}
