.wrapper.has-sidenotes {
  width: calc(45% * var(--lineWidth, 1));
  padding-right: 15vw;
}

.sidenote {
  display: inline;
  small {
    float: right;
    clear: both;
    width: 20vw;
    margin-right: calc(-20vw - 2rem);
    margin-bottom: 1em;

    .sidenote-parenthesis {
      position: absolute;
      left: -99999px;
    }
  }
}
