// .hamburger {
//   fill: black;
// }

.view-options-btn {
  margin-top: 2rem;
}

nav {
  padding: 2rem 2rem 0;

  ul {
    li {
      padding: 0 0 0.3rem 0;
      list-style: none;
      // font: normal 0.9rem/1.5 'ComputerModern';

      p {
        margin: 0;
      }
    }
  }

  & > ul > li {
    padding-bottom: 1rem;
    // font: normal 0.9rem/1.5 'ComputerModernBold';
    p {
      padding-bottom: 0.5rem;
    }
  }

  // & > ul > li li a {
  //   color: $slate;
  // }
}
