html {
  background: var(--bg);
}

body {
  color: var(--textColor);
}

#root {
  overflow-x: hidden;
}

main {
  flex: 1;
  position: relative;
}

.hamburger {
  position: absolute;
  left: 2rem;

  aside > & {
    left: auto;
    right: 1rem;
  }
}

aside {
  position: fixed;
  top: 0;
  height: 100%;
  width: 18rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--boxoutBg);
  margin-left: -18rem;
  transition: margin-left 0.2s;

  scrollbar-color: var(--boxoutHighlightColor) var(--boxoutBg);
  &::-webkit-scrollbar-track {
    background: var(--boxoutBg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--boxoutBg);
    border-color: var(--boxoutBg);
    transition: background-color 0.2s;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--boxoutHighlightColor);
    }
  }

  html.sidebar-open & {
    margin-left: 0;
  }

  #toc {
    padding-top: 2rem;
  }
}

.center {
  text-align: center;
}

article img {
  max-width: 100%;
}
