$sidebarWidth: 18rem;

nav {
  position: fixed;
  top: 0;
  width: $sidebarWidth;
  height: 100%;
  margin-left: -$sidebarWidth;
  transition: margin-left 0.2s;
  background: var(--boxoutBg);
  overflow-y: scroll;
  overflow-x: hidden;
}

article {
  padding-left: 0;
  transition: padding-left 0.2s;
}

html.sidebar-open {
  nav {
    margin-left: 0;
  }
  article {
    padding-left: $sidebarWidth;
  }
}

@media (max-width: 1000px) {
  html.sidebar-open {
    article {
      padding-left: 0;
    }
  }
}

.hamburger {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;

  nav & {
    position: static;
  }
}
