name: 'test'

on: 'push'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

        # unit tests
      - name: Run unit tests
        run: pnpm run test

        # e2e tests
      - name: Build runtime dependencies
        run: pnpm --filter @isos/runtime run build
      - name: Get installed Playwright version
        id: playwright-version
        uses: CumulusDS/get-yaml-paths-action@v1.0.1
        with:
          file: pnpm-lock.yaml
          v: 'importers.".".devDepencencies."@playwright/test".version'
      - uses: actions/cache@v3
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
            key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.v }}
      - run: npx playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: npx playwright install-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
